*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-bark-text: #1e262d;
  --color-primary-blue: #172154;
  --color-accent: #d44457;
  --color-white: #fff;
  --color-black: #000;
  --color-light-blue: #213164;
  --color-off-white: #e6e6e7;
}
h1 {
  font-size: 3.5rem;
  color: var(--color-primary-blue);
  margin-bottom: 2rem;
  font-weight: 700;
}
.page-tile {
  margin-bottom: 0;
}
h2 {
  font-size: 2.5rem;
  color: var(--color-primary-blue);
  margin-bottom: 1.5rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  color: var(--color-primary-blue);
  margin-bottom: 1.5rem;
  font-weight: 700;
}
p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-size: 1.6rem;
}
ul {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-size: 1.6rem;
  padding-left: 3rem;
}
ul li {
  margin-bottom: 1rem;
}
ul li a {
  color: var(--color-primary-blue);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-position: under;
}

ul li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-blue);
}

ol {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  font-size: 1.6rem;
  padding-left: 3rem;
}

ol li {
  margin-bottom: 1rem;
}
ol li::marker {
  color: var(--color-primary-blue);
  font-weight: bold;
  padding-right: 1rem;
  font-size: 1.6rem;
}

ol li a {
  color: var(--color-primary-blue);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-position: under;
}
ol li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-blue);
}
a {
  color: var(--color-primary-blue);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-position: under;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-blue);
}
a:visited {
  color: var(--color-primary-blue);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-position: under;
}

/*************************** */
/* home page Main Section  below the hero slider*/
/* --------------------------- */

/* Feature services cards */

.cards-container {
  width: 90%;
  max-width: 1200px;
  padding: 4rem 0 2rem 0;

  display: grid;
  grid-gap: 2rem;
  margin: 0 auto;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 75rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature-services-cards a {
  padding: 3rem 2rem;
  background-color: #e6e6e7;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--color-primary-blue);
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none !important;
}

.feature-services-cards a:hover {
  background-color: var(--color-light-blue);
  color: var(--color-white);
}
.services-card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.services-card-content i {
  font-size: 2.5rem;
}

/* Blog Feature cards section */
.blog-cards-container {
  width: 90%;
  max-width: 1200px;
  padding: 4rem 0;

  display: grid;
  grid-gap: 2rem;
  margin: 0 auto;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 75rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.feature-blog-post-card {
  border: 1px solid #ccc;
  background-color: var(--color-white);
}

.blog-post-card-content {
  padding: 2rem;
}
.blog-post-card-content > * {
  margin-bottom: 1.5rem;
}
.blog-post-title a {
  line-height: 1.2;
  color: var(--color-primary-blue);
  font-size: 2rem;
  text-decoration: none;
}
.blog-post-title a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--color-primary-blue);
}
.blog-post-lead {
  line-height: 1.4;
}

.blog-post-lead a {
  display: inline-block;
  margin-top: 1rem;
  color: var(--color-primary-blue);
  text-decoration: underline;
  text-decoration-style: dotted;
}

.blog-post-lead a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-blue);
}

/* Event Feature cards section */
.event-cards-container {
  width: 90%;
  max-width: 1200px;
  padding: 4rem 0;

  display: grid;

  grid-gap: 2rem;
  margin: 0 auto;
  height: fit-content;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.feature-event-post-card {
  border: 1px solid #ccc;
  align-self: start;
  background-color: var(--color-white);
}
.event-post-card-content {
  padding: 2rem;
}
.event-post-card-content > * {
  margin-bottom: 1.5rem;
}

.event-post-card-content .event-post-lead a {
  display: block;
  text-align: center;
  padding: 1rem 0.3rem;
  background-color: var(--color-light-blue);
  color: var(--color-white);
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.6rem;
}

.event-post-card-content .event-post-lead a:hover {
  background-color: var(--color-primary-blue);
}

.event-post-title a {
  line-height: 1.2;
  color: var(--color-primary-blue);
  text-decoration: none;
}
.event-post-title a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-blue);
  text-decoration-style: dotted;
}
.event-post-lead {
  line-height: 1.4;
  margin-bottom: 0;
}

/* Newsletter Subscription styles */

.newsletters-subscription-section {
  padding: 4rem 0;
}
.newsletters-subscription-section h2 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--color-primary-blue);
  margin-bottom: 2rem;
  font-weight: 700;
}
.newsletters-subscription-section p {
  font-size: 1.6rem;
  text-align: center;
  color: var(--color-primary-blue);
  margin-bottom: 2rem;
}

.newsletters-subscription-card {
  background-color: var(--color-white);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletters-subscription-card a {
  font-size: 1.6rem;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-light-blue);
  padding: 1rem 0;
  width: 100%;
  border: none;
  text-decoration: none;

  @media (min-width: 48rem) {
    width: 50%;
  }
}
.newsletters-subscription-card a:hover {
  background-color: var(--color-primary-blue);
  cursor: pointer;
}

/* Visa page */
/* two-sides-content styles */
/* --------------------------- */
.heading-bread-crumbs {
  background-color: var(--color-off-white);
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
}
.content-left,
.content-right {
  margin-bottom: 4rem;
}
.content-left img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 2rem;
}
.heading-bread-crumbs-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 3rem 0;
}

.list-items ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 2rem;
}
.list-items ul li i {
  font-size: 1rem;
  color: var(--color-white);
  background-color: var(--color-light-blue);
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.list-items ul li {
  display: flex;
  align-items: start;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

.sidebar {
  margin-bottom: 2rem;
  border: 1px solid #ccc;
}
.sidebar ul {
  background-color: var(--color-white);
  padding: 2rem;
  list-style-type: none;
}
.sidebar h2 {
  font-size: 2rem;
  color: var(--color-white);
  background-color: var(--color-light-blue);
  font-weight: 700;
  padding: 2rem;
  margin-bottom: 0;
}
.sidebar p {
  font-size: 1.6rem;
  color: var(--color-primary-blue);
  padding: 2rem;
  margin-bottom: 0;
}

@media (min-width: 48rem) {
  .heading-bread-crumbs-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 3rem 0;
  }
  .two-sides-content {
    display: flex;
    justify-content: space-between;
  }
  .content-left {
    width: 65%;
  }

  .content-right {
    width: 30%;
  }
}

/* --------------------------------- */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* ------------------------------------- */
/* Accordion styles */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*  ------------------------------ */
/*  staffs pages styles */
/*  ------------------------------ */
/* Blog Feature cards section */
.staff-cards-container {
  width: 90%;
  max-width: 1200px;
  padding: 4rem 0;

  display: grid;
  grid-gap: 2rem;
  margin: 0 auto;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 75rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.staff-card {
  border: 1px solid #ccc;
  background-color: var(--color-white);
}

.staff-card-content {
  padding: 2rem;
}
.staff-card-content > * {
  margin-bottom: 0.1rem;
}
.staff-name a {
  line-height: 1.2;
  color: var(--color-primary-blue);
  font-size: 2rem;
  text-decoration: none;
}

.job-title {
  line-height: 1.4;
}

.staff-card-content p a {
  display: inline-block;
  margin-top: 1rem;
  color: var(--color-primary-blue);
  text-decoration: underline !important;
  text-decoration-style: dotted !important;
}

.staff-card-content p a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-blue);
}
