*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-bark-text: #1e262d;
  --color-primary-blue: rgb(23, 33, 84);
  --color-accent: #d44457;
  --color-white: #fff;
  --color-black: #000;
  --color-light-blue: #213164;
}

/*************************** */
/* home page Main Section */
/* --------------------------- */

/* Feature services cards */

.cards-container {
  width: 90%;
  max-width: 1200px;
  padding: 4rem 0;

  display: grid;
  grid-gap: 2rem;
  margin: 0 auto;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 75rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature-services-cards a {
  padding: 3rem 2rem;
  background-color: #e6e6e7;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: var(--color-primary-blue);
  width: 100%;
  display: block;
  text-align: center;
}

.feature-services-cards a:hover {
  background-color: var(--color-light-blue);
  color: var(--color-white);
}
.services-card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.services-card-content i {
  font-size: 2.5rem;
}

/* Blog Feature cards section */
.blog-cards-container {
  width: 90%;
  max-width: 1200px;
  padding: 4rem 0;

  display: grid;
  grid-gap: 2rem;
  margin: 0 auto;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 75rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.feature-blog-post-card {
  border: 1px solid #ccc;
}

.blog-post-card-content {
  padding: 2rem;
}
.blog-post-card-content > * {
  margin-bottom: 1.5rem;
}
.blog-post-title a {
  line-height: 1.2;
  color: var(--color-primary-blue);
}
.blog-post-title a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-blue);
}
.blog-post-lead {
  line-height: 1.4;
}

.blog-post-lead a {
  display: inline-block;
  margin-top: 1rem;
  font-weight: 700;
  color: var(--color-primary-blue);
}

.blog-post-lead a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-blue);
}

/* Event Feature cards section */
.event-cards-container {
  width: 90%;
  max-width: 1200px;
  padding: 4rem 0;

  display: grid;

  grid-gap: 2rem;
  margin: 0 auto;
  height: fit-content;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.feature-event-post-card {
  border: 1px solid #ccc;
  align-self: start;
}
.event-post-card-content {
  padding: 2rem;
}
.event-post-card-content > * {
  margin-bottom: 1.5rem;
}

.event-post-card-content .event-post-lead a {
  display: block;
  text-align: center;
  padding: 1rem 0.3rem;
  background-color: var(--color-primary-blue);
  color: var(--color-white);
  margin-top: 2rem;
}

.event-post-card-content .event-post-lead a:hover {
  background-color: var(--color-accent);
}

.event-post-title a {
  line-height: 1.2;
  color: var(--color-primary-blue);
}
.event-post-title a:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-blue);
}
.event-post-lead {
  line-height: 1.4;
  margin-bottom: 0;
}
